body{
    margin: 0px;
}

h1, h2, p {
    font-family: ubuntu;
    margin: 1% 20%;
}

nav {
    border-bottom: solid;
    border-color: rgba(210, 211, 214, 0.582);
}

nav div {
    display: flex;
    justify-content: center;
    margin: 1% 20%;
    align-items: baseline;
}

nav div a {
    border-radius: 7px;
    border: solid;
    padding: .5%;
    margin: 1% .5%;
    text-decoration: none;
    color: blue;
}

a:nth-child(1) {
    border: none;
}

a:nth-child(1) i {
    color: 	rgba(0, 60, 255, 0.582);
}

a:nth-child(2) {
    border: none;
}

a:nth-child(2) i {
    color: orange;
}

a:nth-child(3) {
    border: none;
}

a:nth-child(3) i{
    color:rgba(5, 170, 120, 0.582);
}

a:visited {
    color: black;
}

a:hover {
    color: 	rgba(23, 8, 243, 0.747);
}

a:nth-child(4) {
    border: none;
    background-color: rgba(23, 8, 243, 0.747);
    color: white;
}

a:nth-child(4):hover {
    background-color: rgba(17, 0, 255, 0.788);
}

nav a:nth-child(5) {
    border: none;
    background-color:rgba(255, 51, 0, 0.651);
    color: white;
}

nav a:nth-child(5):hover {
    background-color:rgba(255, 51, 0, 0.767);
    color: white;
}

main {
    text-align: center;
    /*margin: 0% 20%;*/
}

main div {
    border-bottom: solid;
    border-color: rgba(210, 211, 214, 0.582);
}

hr {
    color: rgba(210, 211, 214, 0.582);
}

h1 {
    font-size: 50px;
    color: rgba(23, 8, 243, 0.747);
}

h2 {
    font-size: 30px;
    color: rgba(23, 8, 243, 0.747);
}

main p {
    font-size: 18px;
}

main a {
    display: flex;
    justify-content: center;
    margin: 1% 43%;
    padding: .25% 0%;
    text-decoration: none;
    font-size: 18px;
    background-color: rgba(23, 8, 243, 0.747);
    border-radius: 7px;
}

main a:hover {
    color:white;
}

main a p {
    display: inline-block;
    color: white;
}