:root {
    --background-color: #F5F6F7;
    --color-red: #AE1100;
    --color-bg: #EBECF0;
    --color-shadow: #5c5d5f; /* #BABECC */
    --color-white: #FFF;
    --color-border: #DFE1E6;
}

html {
    scroll-behavior: smooth;
    overflow-x: hidden;
}

body{
    margin: 0;
    padding: 0;
    font-family: Inter,sans-serif;
    background-color: var(--background-color);
}

main {
    margin: 0;
    padding: 0;
}

/*------------------------------------------ 
    menu
------------------------------------------*/
header {
    background-color: white;
    border: 1px solid #DFE1E6;
}

a {
    cursor: pointer;
    font-weight: 700;
    text-transform: uppercase;
    text-decoration: none;
    color: inherit;
    text-align: center;
}

nav {
    display: flex;
    height: 80px;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 65rem;
    margin: auto auto;
}

nav img {
    width: 100%;
    max-width: 5rem;
}

nav div {
    width: 100%;
    max-width: 15rem;
    display: flex;
    justify-content: space-between;
}

.main-content {
    background-color: white;
    border: 1px solid #DFE1E6;
    max-width: 75rem;
    margin: 1rem auto;
    border-radius: 5px;
    padding: 1rem;
    text-align: center;
}

.content-1 {text-align: left; max-width: 30rem;}
.content-2 {max-width: 30rem;}

/*------------------------------------------ 
    add gift form 
------------------------------------------*/
#add-gift {
    position: relative;
}

#gift-top, #gift-bottom {
    border: solid;
    width: 100%;
    max-width: 11rem;
    margin: auto auto;
}

#gift-top {
    height: 25px;
    max-width: 12rem;
    border-radius: 10px;
}

#add-gift-form {
    position: absolute;
    width: 90%;
    left: 0; 
    right: 0; 
    margin-left: auto; 
    margin-right: auto; 
    visibility: hidden;
    opacity: 0;
}

#gift-bottom {
    cursor: pointer;
    height: 140px;
    display: flex;
    align-items: center;
    justify-content: center;
    user-select: none;
    transition: 1s;
    margin-top: 0;
}

/*------------------------------------------ 
    giftList
------------------------------------------*/
.gift-list {
    margin: auto auto;
    border-radius: 50px;
}

.gift {
    position: relative;
    border: solid;
    width: 100%;
    max-width: 40rem;
    margin: 1rem auto;
    border-radius: 16px;
    transition: .5s;
    height: 50px;
    padding-bottom: 0;
    /* padding: 0rem 0; */
}

.gift i {
    font-size: 1.5rem;
    cursor: pointer;
}

.gift h2 {
    margin: 0;
    border-radius: 12px 12px 0px 0px;
    /* background-color: #AE1100; */
}

.gift-content {
    position: absolute;
    width: 90%;
    left: 0; 
    right: 0; 
    margin-left: auto; 
    margin-right: auto; 
    visibility: hidden;
    opacity: 0;
}

.gift-content, form {
    display: flex;
    flex-direction: column;
}

.input-group {
    display: flex;
    flex-direction: column;
    width: 95%;
    margin: .25rem auto;
}

.input-group label {
    text-align: left;
    font-size: .75rem;
    font-weight: 700;
    text-transform: capitalize;
}

.input-group input {
    padding: .75rem .5rem;
    border-radius: 10px;
}

form button {
    width: 95%;
    padding: .5rem;
    border-radius: 10px;
    margin: .25rem auto;
    cursor: pointer;
    background-color: var(--color-btn);
}

/*------------------------------------------ 
    Footer
------------------------------------------*/
footer {
    background-color: white;
    border: 1px solid #DFE1E6;
    width: 100%;
}

footer h1 {margin: 0; padding: 1rem;}
footer h5 {margin-top: 0; margin-bottom: 0; padding: 1rem}

#sub-footer {
    width: 100%;
    max-width: 70rem;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

#footer-content-container {display: flex;}
.footer-content {
    margin: 0 2rem;
    padding: 1rem;
    display: flex;
    flex-direction: column;
}

.footer-content a {
    display: block;
    width: 100%;
    max-width: 3rem;
    text-align: center;
    /* vertical-align: bottom; */
    border-radius: 10px;
    margin: .25rem 0;
}

.footer-content i {
    font-size: 3rem;
    vertical-align: bottom;
}

.footer-content img {
    width: 100%;
    /* max-width: 2.5rem; */
    vertical-align: bottom;
}
.footer-content:nth-child(1) {margin-left: 0;}