/* ---------------------------------------------------------GENERAL--------------------------------------------------------- */
body {
	/*background-color: #4db8ff;*/
	/*background-color: #f2f2f2;*/
}

nav {
	border: solid;
}

nav ul {
	border: solid;
	list-style: none;
	text-align: center;
}

nav ul li {
	display: inline-block; 
	margin: 1% 2.5% 1%;
}

nav ul li a {
	text-decoration: none;
	border: solid;
}

main {
	border: solid;
	margin: 0% 22% 0%;
	/*background: #86D4F9;*/
}

h1 {
	text-align: center;
	font-size: 50px;
}

h2 {
	text-align: center;
	font-size: 35px;
}

p {
	text-align: center;
	font-size: 23px;
}

/* ---------------------------------------------------------HOME PAGE--------------------------------------------------------- */
.user_input {
	text-align: center;
}

label {
	display: block;
}

label p {
	display: inline-block;
}

label input {
	display: inline-block;
}

.login_button {
	border: solid;
}

/* ---------------------------------------------------------LOGIN/SIGN_UP PAGES--------------------------------------------------------- */
.login_page {
	border: solid;
}

form {
	/*
	position: fixed;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	*/
	margin: 30% 32% 30%;
}

legend {
	font-size: 30px;
	width: auto;
    margin-left: auto;
    margin-right: auto;
}

input {		/* all input elements will look like this*/
	width: 60%;
	padding-top: 5px;
	padding-bottom: 5px;
}

label:not(:nth-child(1)) {
	padding-bottom: 2%;
}

label:nth-child(1) {
	padding-top: 10%;
	padding-bottom: 2%;
}

label:nth-last-child(2) {		/* label before the button */
	padding-bottom: 10%;
}

.login_btn, .sign_up_btn{
	margin-bottom: 10%;
}

/* ---------------------------------------------------------GIFT-EE_PROFILE PAGE--------------------------------------------------------- */
table {
	margin: 0 auto;
	border: solid;
	border-collapse: separate;
}

table thead tr th {
	padding-top: 2%;
	padding-bottom: 2%;
	border: solid;
}

table thead tr th:nth-child(1){
	width: 55%;
}

table thead tr th:nth-child(2){
	width: 30%;
}

table tr {
}

table td {
	border: solid;
}

