:root {
    --background-color: #F5F6F7;
    --color-red: #AE1100;
    --color-bg: #EBECF0;
    --color-shadow: #5c5d5f; /* #BABECC */
    --color-white: #FFF;
    --color-border: #DFE1E6;
}

html {
    scroll-behavior: smooth;
    overflow-x: hidden;
}

body{
    margin: 0;
    padding: 0;
    font-family: Inter,sans-serif;
    background-color: var(--background-color);
}

main {
    margin: 0;
    padding: 0;
}

/*------------------------------------------ 
    menu
------------------------------------------*/
header {
    background-color: white;
    border: 1px solid #DFE1E6;
}

header a {
    cursor: pointer;
    font-weight: 700;
    text-transform: uppercase;
    text-decoration: none;
    color: inherit;
    /* text-align: center; */
}

nav {
    display: flex;
    height: 80px;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 65rem;
    margin: auto auto;
}

nav img {
    width: 100%;
    max-width: 5rem;
}

nav div {
    width: 100%;
    max-width: 15rem;
    display: flex;
    justify-content: space-between;
}

.main-content {
    background-color: white;
    border: 1px solid #DFE1E6;
    max-width: 75rem;
    margin: 1rem auto;
    border-radius: 5px;
    padding: 1rem;
    text-align: center;
}

h1 {
    text-align: center;
}

/*------------------------------------------ 
    add gift form
------------------------------------------*/
#add-gift {
    position: relative;
}

#gift-top, #gift-bottom {
    border: solid;
    width: 100%;
    max-width: 11rem;
    margin: auto auto;
}

#gift-top {
    height: 25px;
    max-width: 12rem;
    border-radius: 10px;
}

#add-gift-form {
    position: absolute;
    width: 100%;
    max-width: 30rem;
    left: 0; 
    right: 0; 
    margin: 1rem auto; 
    visibility: hidden;
    opacity: 0;
    display: flex;
    flex-direction: column;
}

.input-group {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: .25rem 0;
}

.input-group input {

}

.input-group label {
    text-align: left;
}

#add-gift-btn {
    left: 0; 
    right: 0; 
    margin-left: auto; 
    margin-right: auto; 
}

#gift-bottom {
    cursor: pointer;
    height: 140px;
    display: flex;
    align-items: center;
    justify-content: center;
    user-select: none;
    transition: 1s;
    margin-top: 0;
}

/*------------------------------------------ 
    gifts
------------------------------------------*/
.gift-list {
    width: 100%;
    max-width: 140rem;
    margin: auto auto;
}

.gift-titles {
    display: grid;
    grid-template-columns: 2.5fr 4fr 1fr 1fr 1fr 1fr .5fr .5fr;
    grid-template-rows: auto;
    grid-gap: 1rem;
    align-items: center;
}

.gift {
    display: grid;
    grid-template-columns: 2.5fr 4fr 1fr 1fr 1fr 1fr .5fr .5fr;
    grid-template-rows: auto;
    /* justify-items: center; */
    align-items: center;
    grid-gap: 1rem;
    border-top: solid;
    padding: .5rem 0;
    border-color: var(--color-border);
}

.gift a {
    display: inline-block;
    vertical-align: bottom;
    margin: 0;
    padding: 0;
    border: solid;
}

.gift a i {
    vertical-align: bottom;

}

.public-gift, .public-gift-titles {
    grid-template-columns: 2.5fr 4fr 1fr 1fr 1fr .5fr;
}