body {  background-color: rgba(0, 60, 255, 0.582); }

main {
    text-align: center;
    padding: 5% 5%;
}

p a i {
    color: 	rgba(0, 60, 255, 0.582);
    text-align: center;
    font-size: 70px;
    background-color: white;
    border-radius: 7px;
    padding: 0% .25%;
}

.user_input {
    background-color: white;
    border-radius: 7px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-content: space-between;
    margin: 2% 37%;
    padding: 2% 0%;
}

fieldset {
    border: none;
}

.user_input p {
    font-size: 30px;
    margin: -2% 0%;
}

.input_box {
    box-shadow:  0 0 0 2px lightgrey;
    border-radius: 7px;
    margin: 5% 12%;
    padding: 2% 0%;
    text-align: left;
}

.input_box:hover {  box-shadow:  0 0 0 2px rgba(0, 60, 255, 0.582); }

.input_box i {
    margin-left: 5%;
    color: 	rgba(0, 60, 255, 0.582);
}

input { border: none; }

input[type=submit] {
	border-radius: 10px;
	background-color: 	rgba(0, 60, 255, 0.582);
	border: none;
	color: white;
	padding: 2% 10%;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-family: ubuntu;
	font-size: 125%;
}

input[type=submit]:hover { cursor: pointer; }

/* login error page */
.error_box {
    background-color: white;
    border-radius: 7px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-content: space-between;
    margin: 2% 37%;
    padding: 2% 0%;
}

.error_box p:nth-child(1) {
    color: red;
    font-size: 35px;
}

.error_box i {
    border-style: solid;
    border-color: rgba(0, 60, 255, 0.582);
    padding: 0% 1%;
}

.error_box p:nth-child(4) {
    font-size: 30px;
}