{% extends "base.html" %}

{% block metaStuff%}
	<title>About</title>
	<link href="gift-ee.css", type="text/css", rel="stylesheet">
{% endblock %}

{% block main %}
	<h2>Note!</h2>
	<p>
		This website is still a work in progress so please expect for major changes to 
		the website since I tend to work on this frequently
	</p>
	<h2>Problems/Critiques?</h2>
	<p>
		Please send them my way to my email closcastillo95@gmail.com! I would 
		love to hear any feed back, suggestions, or problems with the website you might have
	</p>
	<h2>This website was creating using</h2>
	<div class="tools">
		<img src="https://upload.wikimedia.org/wikipedia/commons/6/6a/JavaScript-logo.png", alt="js"/>
		<img src="https://upload.wikimedia.org/wikipedia/commons/thumb/6/61/HTML5_logo_and_wordmark.svg/1200px-HTML5_logo_and_wordmark.svg.png", alt="html5">
		<img src="https://upload.wikimedia.org/wikipedia/commons/thumb/d/d5/CSS3_logo_and_wordmark.svg/1200px-CSS3_logo_and_wordmark.svg.png", alt="css">
		<img src="https://img.stackshare.io/service/1637/Microsoft.VisualStudio.Services.Icons.Default", alt="nunjucks">
	</div>

	<h2>If you'd like to see more projects made by me please checkout my github</h2>
	<a href="https://github.com/AGuyNamedC-Los", target="_blank"><img src="https://pngimg.com/uploads/github/github_PNG20.png", alt="github"></a>
{% endblock %}