<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        {% block metaStuff %}{% endblock %}
		<title>gift-ee</title>
		<link href="giftee.css", type="text/css", rel="stylesheet">
		<link rel="stylesheet", href="https://use.fontawesome.com/releases/v5.4.1/css/all.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

		            <!-- Open Graph -->
            <meta property="og:image" content="https://raw.githubusercontent.com/AGuyNamedC-Los/gift-ee/master/public/website_images/giftee-logo.png"/>
            <meta property="og:type" content="website"/>
            <meta property="og:url" content="https://gift-ee.herokuapp.com/"/>
            <meta property="og:site_name" content="Giftee"/>
            <meta property="og:title" content="Giftee"/>
            <meta property="og:description" content="A gift list creating website that can include items from any website that can be shared with people"/>
    <link rel="apple-touch-icon" href="https://raw.githubusercontent.com/AGuyNamedC-Los/gift-ee/master/public/website_images/giftee-logo.png" />
    <!--
      manifest.json provides metadata used when your web app is installed on a
      user's mobile device or desktop. See https://developers.google.com/web/fundamentals/web-app-manifest/
    -->
    <link rel="manifest" href="https://raw.githubusercontent.com/AGuyNamedC-Los/gift-ee/master/public/website_images/giftee-logo.png" />
    </head>
    <body>
		{% if (user.role == "guest") %}
        <header>
            <nav>
                <a href="/"><img src="https://raw.githubusercontent.com/AGuyNamedC-Los/gift-ee/master/public/website_images/giftee-logo.png" alt="Giftee"></a>
                <div>
                    <a href="/search">Search</a>
                    <a href="/login">Login</a>
                    <a href="/sign-up">Sign Up</a>
                </div>  
            </nav>
        </header>
		{% elif (user.role == "temp_user") %}
			<nav>            
				<a class="menu-item item-1" href="/">
                    <img src="https://cdn1.iconfinder.com/data/icons/doodle-business-shop-finance-set-1/91/Doodle_Business_-_Shop_-_Finance_05-512.png">
                </a>
                <a class="menu-item item-2" href="/">
                    <i class="fas fa-home"></i>
                    <p>Home</p>
                </a>
                <a class="menu-item item-3" href="/about">
                    <i class="far fa-question-circle"></i>
                    <p>About</p>
                </a>
                <a class="menu-item item-4" herf="/search">
                    <i class="fas fa-search"></i>
                    <p>Search</p>
                </a>
				<a class="logout_btn" onClick="document.getElementById('logout').submit()">
					<i class="fas fa-sign-out-alt"></i>
					<p>Logout</p>
				</a>
				<form id="logout" action="logout_status" method="POST"></form>
            </nav>

			{# <nav>
				<div>
					<a class="home_btn", href="/"><i class="fas fa-gift"></i> Gift-ee</a>
					<a class="about_btn", href="/about"><i class="fas fa-info-circle"></i> About</a>
					<a class="search_btn", href="/search"><i class="fas fa-search"></i> Search</a>
					<a class="logout_btn" onClick="document.getElementById('logout').submit()"><i class="fas fa-sign-out-alt"></i> Logout</a>
						<form id="logout" action="logout_status" method="POST"></form>
				</div>
			</nav>
			<form class="email_confirmation" action="email_confirmation_status" method="POST">
				<fieldset>
					<input type="text", id="emailConfirmation", name="emailConfirmation", placeholder="Enter email confirmation code">
					<input class="login_btn" type="submit" value="Submit">
				</fieldset>
			</form> #}
		{% else %}
			<nav>            
				<a class="menu-item item-1" href="/">
                    <img src="https://cdn1.iconfinder.com/data/icons/doodle-business-shop-finance-set-1/91/Doodle_Business_-_Shop_-_Finance_05-512.png">
                </a>
                <a class="menu-item item-2" href="/">
                    <i class="fas fa-home"></i>
                    <p>Home</p>
                </a>
                <a class="menu-item item-3" href="/about">
                    <i class="far fa-question-circle"></i>
                    <p>About</p>
                </a>
                <a class="menu-item item-4" herf="/search">
                    <i class="fas fa-search"></i>
                    <p>Search</p>
                </a>
				<a class="menu-item item-5" href="/profile">
					<i class="fas fa-user-circle"></i> 
					<p>Profile</p>
				</a>
				<a class="menu-item item-6" onClick="document.getElementById('logout').submit()">
					<i class="fas fa-sign-out-alt"></i>
					<p>Logout</p>
				</a>
				<form id="logout" action="logout_status" method="POST"></form>
            </nav>
			{# <nav>
				<div>
					<a class="home_btn", href="/"><i class="fas fa-gift"></i> Gift-ee</a>
					<a class="about_btn", href="/about"><i class="fas fa-info-circle"></i> About</a>
					<a class="search_btn", href="/search"><i class="fas fa-search"></i> Search</a>
					<a class="profile_btn" href="/profile"><i class="fas fa-user-circle"></i> Profile</a>
					<a class="logout_btn" onClick="document.getElementById('logout').submit()"><i class="fas fa-sign-out-alt"></i> Logout</a>
						<form id="logout" action="logout_status" method="POST"></form>
				</div>
			</nav> #}
		{% endif %}
		<main>
		{% block main %}
		{% endblock %}
		</main>
		{% block script %}
		{% endblock %}
    </body>
</html>