<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        {% block metaStuff %}
            <title>gift-ee</title>
        {% endblock %}
        <link href="gift-ee.css" rel="stylesheet">
    </head>
    <body>
		{% if (user.role == "guest") %}
			<nav>
				<ul>
					<li><a href="/">Home</a></li>
					<li><a href="/login">Login</a></li>
					<li><a href="/about">About</a></li>
					<li><a href="/sign-up">Sign-Up</a></li>
					<li><a href="/search">Search</a></li>
				</ul>
			</nav>
			
		{% elif (user.role == "temp_user") %}
			<nav>
				<ul>
					<li><a href="/">Home</a></li>
					<li><a href="/about">About</a></li>
					<li>
						<a onClick="document.getElementById('logout').submit()">Logout</a>
						<form id="logout" action="logout_status" method="POST"></form>
					</li>
					<li><a href="/search">Search</a></li>
				</ul>
			</nav>
			
			<div class="user_input">
				<form class="email_confirmation_status" action="email_confirmation_status" method="POST">
					<fieldset class="add_item">
						<legend>Email Confirmation</legend>
						<div>
							<label><input type="text", id="emailConfirmation", name="emailConfirmation", placeholder="Enter email confirmation code"></label>
							<input class="login_btn" type="submit" value="Submit">
						</div>
					</fieldset>
				</form>
			</div>
		
		{% else %}
			<nav>
				<ul>
					<li><a href="/">Home</a></li>
					<li><a href="/profile">Profile</a></li>
					<li><a href="/about">About</a></li>
					<li>
						<a onClick="document.getElementById('logout').submit()">Logout</a>
						<form id="logout" action="logout_status" method="POST"></form>
					</li>
					<li><a href="/search">search</a></li>
				</ul>
			</nav>
		{% endif %}
		<main>
			{% block main %}{% endblock %}
		</main>
    </body>
</html>