{% extends "base.html" %}

{% block metaStuff%}
	<title>Profile</title>
{% endblock %}

{% block main %}
	<div class="user_input">
		<form class="add_gift" action="added_gift_status" method="POST">
			<fieldset class="add_item">
				<legend>Add Gift</legend>
				<div>
					<label><input type="text", id="item_name", name="itemName", placeholder="Item Name"></label>
					<label><input type="text", id="link", name="link", placeholder="Link"></label>
					<label><input type="text", id="quantity", name="qty", placeholder="Quantity"></label>
					<label><input type="text", id="size", name="size", placeholder="Size"></label>
					<label><input type="text", id="color", name="color", placeholder="Color"></label>
					<input class="login_btn" type="submit" value="Add to gift-ee List">
				</div>
			</fieldset>
		</form>
	</div>
	
	<table>
		<thead>
			<tr>
				<th>Item Name</th>
				<th>Item Link</th>
				<th>Quantity</th>
				<th>size</th>
				<th>color</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>sponge</td>
				<td>sponge link</td>
				<td>1</td>
				<td>M</td>
				<td>yellow</td>
			</tr>
			<tr>
				<td>sponge</td>
				<td>sponge link</td>
				<td>1</td>
				<td>M</td>
				<td>yellow</td>
			</tr>
			<tr>
				<td>sponge</td>
				<td>sponge link</td>
				<td>1</td>
				<td>M</td>
				<td>yellow</td>
			</tr>
		</tbody>
	</table>
	
	
{% endblock %}