{% extends "base.html" %}

{% block metaStuff %}
	<title>Profile</title>
{% endblock %}

{% block main %}
	<script>
		function deleteItem(itemNum) {
			// document.getElementsByClassName(1)[0].childNodes[1].innerHTML to display the text inside the class "item_num"
			var itemToDelete = document.getElementsByClassName(itemNum.toString())[0];
			console.log(itemNum);
			console.log(itemToDelete.childNodes[1].innerHTML);
			// after item has been deleted from the database -> location.reload();
		}
	</script>
	<div class="user_input">
		<form class="add_gift" action="added_gift_status" method="POST">
			<fieldset class="add_item">
				<legend>Add Gift</legend>
				<div>
					<label><input type="text", id="item_name", name="itemName", placeholder="Item Name"></label>
					<label><input type="text", id="link", name="link", placeholder="Link"></label>
					<label><input type="text", id="quantity", name="qty", placeholder="Quantity"></label>
					<label><input type="text", id="size", name="size", placeholder="Size"></label>
					<label><input type="text", id="color", name="color", placeholder="Color"></label>
					<input class="login_btn" type="submit" value="Add to gift-ee List">
				</div>
			</fieldset>
		</form>
	</div>
	
	<table>
		<thead>
			<tr>
				<th>Item #</th>
				<th>Item Name</th>
				<th>Item Link</th>
				<th>Quantity</th>
				<th>Size</th>
				<th>Color</th>
				<th>Delete</th>
			</tr>
		</thead>
		<tbody>
			{% for i in range(0, giftList.length) -%}
				<tr class="{{i}}">
					<td class="item_num">{{i}}</td>
					<td class="item_name">{{giftList[i].itemName}}</td>
					<td class="item_link">{{giftList[i].link}}</td>
					<td class="item_qty">{{giftList[i].qty}}</td>
					<td class="item_size">{{giftList[i].size}}</td>
					<td class="item_color">{{giftList[i].color}}</td>
					<th><button onClick="deleteItem({{i}})">Delete</button></th>
				</tr>
			{%- endfor %}
		</tbody>
	</table>
	
	<ul>
		{% for gift in giftList %}
			<li><p>{{ gift.itemName }}</p></li>
		{% endfor %}
	<ul>
	
{% endblock %}