{% extends "base.njk" %}

{% block metaStuff%}
	<title>Home</title>
	<link href="gift-ee.css", type="text/css", rel="stylesheet">
{% endblock %}

{% block main%}
<h1>Your Gift List</h1>
<div id="add-gift">
	<div id="gift-top"></div>
	<form id="add-gift-form">
		<div class="input-group">
			<label>ITEM NAME</label>
			<input type="text" class="input-name" name="itemName" placeholder="Item Name">
		</div>
		<div class="input-group">
			<label>NOTES</label>
			<input type="text" class="input-name" name="notes" placeholder="Notes">
		</div>
		<div class="input-group">
			<label>PRICE</label>
			<input type="text" class="input-name" name="price" placeholder="Price">
		</div>
		<div class="input-group">
			<label>QUANTITY</label>
			<input type="text" class="input-name" name="quantity" placeholder="Quanity">
		</div>
		<div class="input-group">
			<label>SIZE</label>
			<input type="text" class="input-name" name="size" placeholder="Size">
		</div>
		<div class="input-group">
			<label>STORE LINK</label>
			<input type="text" class="input-name" name="storeLink" placeholder="Store Link">
		</div>
		<button id="add-gift-btn" type="button" onclick="addGift(this.form)">Add Gift</button>
	</form>
	<div id="gift-bottom" onclick="expandAddGiftForm()">Add Gift</div>
</div>
<div class="gift-list private-gift-list">
	<div class="gift-titles private-gift-titles">
		<p>item Name</p>
		<p>description</p>
		<p>price</p>
		<p>Quantity</p>
		<p>Size</p>
		<a>Store link</a>
		<p>Save</p>
		<p>delete</p>
	</div>
	<div class="gift private-gift">
		<input type="text" placeholder="---" value="Loorings">
		<input type="text" placeholder="---" value="cool little magnet rings! (get the 3 set option!)">
		<input type="text" placeholder="---" value="60$">
		<input type="text" placeholder="---" value="3 Sets">
		<input type="text" placeholder="---" value="N/A">
		<input type="text" placeholder="---" value="https://loorings.co/products/magnetic-rings?variant=35619155640487">
		<i class="far fa-save"></i>
		<i class="far fa-trash-alt"></i>
	</div>
</div>

<h1>Your Gift List everyone else will see</h1>
<div class="gift-list public-gift-list">
	<div class="gift-titles public-gift-titles">
		<p>item Name</p>
		<p>description</p>
		<p>price</p>
		<p>Quantity</p>
		<p>Size</p>
		<a>Store link</a>
	</div>
	<div class="gift public-gift">
		<p>RTX 3090</p>
		<p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Laborum voluptatum iste dolores aperiam quisquam ut sunt commodi illum, unde totam repudiandae neque maxime delectus consequatur temporibus, facere incidunt aliquid dicta!</p>
		<p>1499.00</p>
		<p>1</p>
		<p>N/A</p>
		<i class="fas fa-shopping-cart"></i>
	</div>
</div>
{% endblock %}

{% block script %}
<script>
        var privateGiftList = document.getElementsByClassName("private-gift-list")[0];
        var privateGifts = document.getElementsByClassName("private-gift");
        var publicGiftList = document.getElementsByClassName("public-gift-list")[0];
        var publicGifts = document.getElementsByClassName("public-gift");
        var saveButtons = [];
        var deleteButtons = [];

        function addEventListeners() {
            for(i = 0; i < privateGifts.length; i++) {
                let index = i;

                saveButtons.push(saveChanges.bind(null, index));
                deleteButtons.push(deleteGift.bind(null, index));

                privateGifts[i].children[6].addEventListener("click", saveButtons[index]);
                privateGifts[i].children[7].addEventListener("click", deleteButtons[index]);
            }
        }

        addEventListeners();

        function removeEventListeners() {
            for(i = 0; i < privateGifts.length; i++) {
                let index = i;

                privateGifts[i].children[6].removeEventListener("click", saveButtons[index]);
                privateGifts[i].children[7].removeEventListener("click", deleteButtons[index]);
            }

            saveButtons.length = 0;
            deleteButtons.length = 0;
        }

        function saveChanges(index) {
            let inputFields = [];
            let formInputs = privateGifts[index].children;

            inputFields = ({
                itemName: formInputs[0].value,
                notes: formInputs[1].value,
                price: formInputs[2].value,
                quantity: formInputs[3].value,
                size: formInputs[4].value,
                storeLink: formInputs[5].value
            });

            publicGifts[index].children[0].innerHTML = (inputFields.itemName == "") ? "N/A" : inputFields.itemName;
            publicGifts[index].children[1].innerHTML = (inputFields.notes == "") ? "N/A" : inputFields.notes;
            publicGifts[index].children[2].innerHTML = (inputFields.price == "") ? "N/A" : inputFields.price;
            publicGifts[index].children[3].innerHTML = (inputFields.quantity == "") ? "N/A" : inputFields.quantity;
            publicGifts[index].children[4].innerHTML = (inputFields.size == "") ? "N/A" : inputFields.size;
            publicGifts[index].children[5].innerHTML = (inputFields.storeLink == "") ? "N/A" : inputFields.storeLink;
        }

        function deleteGift(index) {
            removeEventListeners();
            privateGifts[index].remove();
            publicGifts[index].remove();

            if(privateGifts.length != 0) {addEventListeners();}
        }

        function expandAddGiftForm() {
            let bottomOfGift = document.getElementById("gift-bottom");
            let addGiftForm = document.getElementById("add-gift-form");
            let giftFormHeight = addGiftForm.scrollHeight;

            if(addGiftForm.style.visibility === "visible") {   // close the form
                addGiftForm.style.transition = "0s";
                addGiftForm.style.visibility = "hidden";
                addGiftForm.style.opacity = 0;
                bottomOfGift.style.marginTop = "0px";
            } else {    // open the form
                addGiftForm.style.transition = "2s ease";
                addGiftForm.style.visibility = "visible";
                addGiftForm.style.opacity = 1;
                bottomOfGift.style.marginTop = giftFormHeight + 32 + "px";
            }
        }

        function addGift(form) {
            let inputFields = [];
            let formInputs = form.children;

            inputFields = ({
                itemName: formInputs[0].getElementsByTagName("input")[0].value,
                notes: formInputs[1].getElementsByTagName("input")[0].value,
                price: formInputs[2].getElementsByTagName("input")[0].value,
                quantity: formInputs[3].getElementsByTagName("input")[0].value,
                size: formInputs[4].getElementsByTagName("input")[0].value,
                storeLink: formInputs[5].getElementsByTagName("input")[0].value
            });

            if(privateGifts.length < 5) {
                removeEventListeners();
                addToPrivateList(inputFields);
                addEventListeners();
                addToPublicList(inputFields);
            }
        }

        function addToPrivateList(inputFields) {
            let newGift = `
                <div class="gift private-gift">
                    <input type="text" placeholder="---" value="${((inputFields.itemName == "") ? "N/A" : inputFields.itemName)}">
                    <input type="text" placeholder="---" value="${((inputFields.notes == "") ? "N/A" : inputFields.notes)}">
                    <input type="text" placeholder="---" value="${((inputFields.price == "") ? "N/A" : inputFields.price)}">
                    <input type="text" placeholder="---" value="${((inputFields.quantity == "") ? "N/A" : inputFields.quantity)}">
                    <input type="text" placeholder="---" value="${((inputFields.size == "") ? "N/A" : inputFields.size)}">
                    <input type="text" placeholder="---" value="${((inputFields.storeLink == "") ? "N/A" : inputFields.storeLink)}">
                    <i class="far fa-save"></i>
                    <i class="far fa-trash-alt"></i>
                </div>
            `;
            privateGiftList.insertAdjacentHTML("beforeend", newGift);
        }

        function addToPublicList(inputFields) {
            let newGift = `
                <div class="gift public-gift">
                    <p>${((inputFields.itemName == "") ? "N/A" : inputFields.itemName)}</p>
                    <p>${((inputFields.notes == "") ? "N/A" : inputFields.notes)}</p>
                    <p>${((inputFields.price == "") ? "N/A" : inputFields.price)}</p>
                    <p>${((inputFields.quantity == "") ? "N/A" : inputFields.quantity)}</p>
                    <p>${((inputFields.size == "") ? "N/A" : inputFields.size)}</p>
                    <p>${((inputFields.storeLink == "") ? "N/A" : inputFields.storeLink)}</p>
                </div>
            `;
            publicGiftList.insertAdjacentHTML("beforeend", newGift);
        }
    </script>
{% endblock %}