{% extends "base.njk" %}

{% block metaStuff%}
	<title>Home</title>
{% endblock %}

{% block main %}
	<h1>Gift-ee!</h1>
	<p>the best way to keep a list of gifts for yourself, family, and friends!</p>
	
	<h2>What is Gift-ee?</h2>
	<p>
		Gift-ee is a tool for collecting a repository of items from different web stores in a wish list esque style. The main difference is that you 
		can include things you want from different web stores, instead of being limited to that specific website's wish list
		(maybe include a gif like with git repositories and seperate each point into paragraphs with their own gifs). Any friends or family members that decide to 
		follow you will be able to see this list, and if one of your followers decide to buy you something from your list, then everyone else that follows 
		you will be notified that a gift from your list has bought so that you potentially avoid receiving the same gift from multiple people!
	</p>
{% endblock %}