<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>gift-ee</title>
		<link href="login_and_signup.css" rel="stylesheet">
		<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css">
		<link rel="stylesheet" type="text/html" href="//fonts.googleapis.com/css?family=Ubuntu">
	</head>
    <body>
		<main>
			<p class="home"><a href="/"><i class="fas fa-home"></i></a></p>
			<div class="user_input">
				<p>Login to your account</p> 
				<!-- <button onclick="document.location = '/'">Home</button> -->
				<form action="login_status" method="POST">
					<fieldset>
							<div class="input_box">
								<i class="fas fa-envelope"></i>
								<input type="text", id="email", name="email", placeholder="Email">
							</div>
							<div class="input_box">
								<i class="fas fa-lock"></i>
								<input type="password", id="password", name="password", placeholder="Password">
							</div>
							<input class="login_btn" type="submit" value="Log In">
					</fieldset>
				</form>
			</div>
		</main>
	</body>
	<script>
		function inputSize(x) {
			var input = document.getElementsByTagName("input");
			if (x.matches) { // less than or equal to the viewport
				console.log("input size 1");
				input[0].size = 10;
				input[1].size = 10;
			} else {
				input[0].size = 30;
				input[1].size = 30;
				console.log("input size 10");
			}
		}

		var x = window.matchMedia("(max-width: 700px)");
		inputSize(x) // Call listener function at run time
		x.addListener(inputSize) // Attach listener function on state changes 
	</script>
</html>