<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>gift-ee</title>
        <link href="login_and_signup.css" rel="stylesheet">
    </head>
    <body>
		<main>
			<div class="user_input">
				<p class="home"><a href="/">Home</a></p>
				<!-- <button onclick="document.location = '/'">Home</button> -->
				<form class="login" action="login_status" method="POST">
					<fieldset>
							<label><p>Email</p></label>
							<label><input type="text", id="email", name="email", placeholder="Email"></label>
							<label><p>Password</p></label>
							<label><input type="password", id="password", name="password", placeholder="Password"></label><br>
							<label><input class="login_btn" type="submit" value="Log In"> </label>
					</fieldset>
				</form>
			</div>
		</main>
    </body>
</html>