{% extends "base.html" %}

{% block metaStuff%}
	<title>Login</title>
{% endblock %}

{% block main %}
	<div class="login_page">
		<div class="user_input">
			<form class="login" action="login_status" method="POST">
				<fieldset>
					<legend>gift-ee</legend>
					<div>
						<label><input type="text", id="email", name="email", placeholder="Email"></label>
						<label><input type="text", id="password", name="password", placeholder="Password"></label>
						<input class="login_btn" type="submit" value="Log In">
					</div>
				</fieldset>
			</form>
		</div>
	</div>
{% endblock %}