<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>gift-ee</title>
		<link href="login_and_signup.css" rel="stylesheet">
		<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css">
		<link rel="stylesheet" type="text/html" href="//fonts.googleapis.com/css?family=Ubuntu">
	</head>
    <body>
		<main>
            <p><a href="/"><i class="fas fa-home"></i></a></p>
			<div class="error_box">
                <p>Incorrect Email or Password!</p>
                <br><br>
                <p><a href="/login"><i class="fas fa-sign-in-alt"></i></a></p>
                <p>Back to Login</p>
			</div>
		</main>
	</body>
</html>