nav {
    border-bottom: solid;
    border-color: rgba(210, 211, 214, 0.582);
}

nav div {
    display: flex;
    justify-content: center;
    margin: 1% 20%;
    align-items: baseline;
}

nav div a {
    border-radius: 7px;
    border: solid;
    padding: .5%;
    margin: 1% .5%;
    text-decoration: none;
    color: black;
}

a:nth-child(1) { border: none; }

a:nth-child(1) i { color: 	rgba(0, 60, 255, 0.582); }

a:nth-child(2) { border: none; }

a:nth-child(2) i { color: orange; }

a:nth-child(3) { border: none; }

a:nth-child(3) i{ color:rgba(5, 170, 120, 0.582); }

a:hover { color: rgba(23, 8, 243, 0.747); }

.login_btn { border: none; }

.login_btn i { color: rgba(17, 0, 255, 0.788); }

.signup_btn {
    border: none;
    background-color: rgba(23, 8, 243, 0.747);
    color: white;
}

.signup_btn:hover {
    background-color: rgba(17, 0, 255, 0.788);
    color: white;
}

/* PROFILE PAGE CSS */
.gift-list {
    border: solid;
    text-align: center;
    margin: auto;
}

.gift-item > p {
    display: flex;
    flex-direction: column;
    border: solid;
    justify-content: center;
    margin: 0% 42%;
    border-radius: 7px;
    /*padding: .5% 8%;*/
}

.gift-item .gift-bottom {
    margin-bottom: 2%;
    padding: 4% 0%;
}

.gift-item > p:hover {
    cursor: pointer;
}

.item-content {
    display: none;
    flex-direction: column;
    justify-content: center;
    margin: 0% 46%;
}

.item-content p {
    border: solid;
    border-radius: 7px;
    display: inline-block;
    padding: 2% 0%;
}
