nav {
    border-bottom: solid;
    border-color: rgba(210, 211, 214, 0.582);
}

nav div {
    display: flex;
    justify-content: center;
    margin: 1% 20%;
    align-items: baseline;
}

nav div a {
    border-radius: 7px;
    border: solid;
    padding: .5%;
    margin: 1% .5%;
    text-decoration: none;
    color: black;
}

a:nth-child(1) { border: none; }

a:nth-child(1) i { color: 	rgba(0, 60, 255, 0.582); }

a:nth-child(2) { border: none; }

a:nth-child(2) i { color: orange; }

a:nth-child(3) { border: none; }

a:nth-child(3) i{ color:rgba(5, 170, 120, 0.582); }

a:hover { color: rgba(23, 8, 243, 0.747); }

.login_btn { border: none; }

.login_btn i { color: rgba(17, 0, 255, 0.788); }

.signup_btn {
    border: none;
    background-color: rgba(23, 8, 243, 0.747);
    color: white;
}

.signup_btn:hover {
    background-color: rgba(17, 0, 255, 0.788);
    color: white;
}

/* PROFILE CSS */
/*
.grid-container {

    display: grid;
    grid-template-columns: 2fr repeat(7, 1fr);
  }
  
.grid-container {
    border: 2px solid #f76707;
    border-radius: 5px;
    background-color: #fff4e6;
}

.grid-container > div {
    border: 2px solid #ffa94d;
    border-radius: 5px;
    background-color: #ffd8a8;
    padding: 1em;
    color: #d9480f;
}

*/

.gift-list {
    border: solid;
    text-align: center;
    margin: auto;
}

.gift-item > p {
    display: inline-block;
    border: solid;
    padding: 1%;
}

.gift-item > p:hover {
    cursor: pointer;
}

.item-content {
    display: none;
    flex-direction: column;
    justify-content: center;
    margin: 0% 42%;
}

.item-content p {
    border: solid;
    display: inline-block;
    padding: 4% 0%;
}
