{% extends "base.njk" %}

{% block metaStuff %}
	<title>Profile</title>
    <link href="profile.css" type="text/css" rel="stylesheet">
{% endblock %}

{% block main %}
    <div class="gift-list">
        <form class="add-gift" action="added_gift_status" method="POST">
            <p>Add Gift to List</p>
            <div class="gift-top" onclick="revealContent(0)"></div>
                <div class="item-content">
                    <input type="text" id="item_name" name="itemName" placeholder="Item Name">
                    <input type="text" id="link" name="link" placeholder="Link">
                    <input type="text" id="quantity" name="qty" placeholder="Quantity">
                    <input type="text" id="size" name="size" placeholder="Size">
                    <input type="text" id="color" name="color" placeholder="Color">
                    <input type="text" id="price" name="price" placeholder="Price">
                    <input type="text" id="imgURL" name="imgURL" placeholder="Image URL">
                    <p>leave blank to exclude attributes</p>
                    <input type="submit" value="Add to gift-ee List">
                </div>
            <div class="gift-bottom", onclick="revealContent(0)"><i class="fas fa-plus"></i></div>
        </form>

        {% for i in range(0, giftList.length) -%}
            <form class="gift-form" action="deleted_gift_status" method="POST">
                <div class="gift-item">
                    <p>{{giftList[i].itemName}}</p>
                    <div class="gift-top" onclick="revealContent({{i}}+1)"></div>
                    <div class="item-content">
                        {% if giftList[i].link != ""%}
                            <a href="{{giftList[i].link}}" target="_blank">Store Link</a>
                        {% endif %}
                        {% if giftList[i].qty != ""%}
                            <p>Quantity: {{giftList[i].qty}}</p>
                        {% endif %}
                        {% if giftList[i].size != ""%}
                            <p>Size: {{giftList[i].size}}</p>
                        {% endif %}
                        {% if giftList[i].color != ""%}
                            <p>Color: {{giftList[i].color}}</p>
                        {% endif %}
                        {% if giftList[i].price != ""%}
                            <p>Price: {{giftList[i].price}}$</p>
                        {% endif %}
                        
                        
                        
                        
                        <p onclick="deleteFunction({{i}})"><i class="fas fa-trash-alt"></i></p>
                    </div>
                    {% if giftList[i].giftIMG == "" %}
                        <div class="gift-bottom" onclick="revealContent({{i}}+1)" style="padding: 7% 0%"></div>
                    {% else %}
                        <div class="gift-bottom" onclick="revealContent({{i}}+1)" style="padding: 0%;"><img src="{{giftList[i].giftIMG}}"/></div>
                    {% endif %}
                </div>
            </form>
        {%- endfor %}
    </div>

{% endblock %}

{% block script %}
<script>
    function revealContent(itemNum) {
        let itemContent = document.getElementsByClassName("item-content")[itemNum];
        let image = document.createElement('i');
        console.log("got item number: " + itemNum);
        let giftBottom = document.getElementsByClassName("gift-bottom")[itemNum];
        let child = giftBottom.lastElementChild;
        if(itemNum == 0){
            while(child) {
                giftBottom.removeChild(child);
                child = giftBottom.lastElementChild;
            }
        }

        if(itemContent.style.display == "none") {
            itemContent.style.display = "flex";
            if(itemNum == 0) {
                image.className = "fas fa-minus-square";
                giftBottom.appendChild(image);
            }
        } else if(itemContent.style.display == "flex") {
            itemContent.style.display = "none";
            if(itemNum == 0) {
                image.className = "fas fa-plus-square";
                giftBottom.appendChild(image);
            }
        } else {
            itemContent.style.display = "flex";
            if(itemNum == 0) {
                image.className = "fas fa-minus-square";
                giftBottom.appendChild(image);
            }
        }
    }

    function deleteFunction(index) {
        let itemToDelete = document.getElementsByClassName("gift-form");
        itemToDelete[index].submit();
        console.log("item deleted: " + index);
    }

</script>
{% endblock %}