<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>gift-ee</title>
		<link href="profile.css", type="text/css", rel="stylesheet">
		<link rel="stylesheet", href="https://use.fontawesome.com/releases/v5.4.1/css/all.css">
		<link rel="stylesheet", type="text/css", href="//fonts.googleapis.com/css?family=Ubuntu">
	</head>
    <body>
        <nav>
            <div>
                <a href="/"><i class="fas fa-gift"></i> Gift-ee</a>
                <a href="/about"><i class="fas fa-info-circle"></i> About</a>
                <a href="/search"><i class="fas fa-search"></i> Search</a>
                <a class="login_btn", href="/login"><i class="fas fa-sign-in-alt"></i> Login</a>
                <a class="signup_btn", href="/sign-up"><i class="fas fa-user-plus"></i> Sign Up</a>
            </div>
        </nav>
        <main>
            <div class="gift-list">
                <form class="add-gift" action="added_gift_status" method="POST">
                    <p>Add Gift to List</p>
                    <div class="gift-top", onclick="revealContent(0)"></div>
                        <div class="item-content">
                            <input type="text", id="item_name", name="itemName", placeholder="Item Name">
                            <input type="text", id="link", name="link", placeholder="Link">
                            <input type="text", id="quantity", name="qty", placeholder="Quantity">
                            <input type="text", id="size", name="size", placeholder="Size">
                            <input type="text", id="color", name="color", placeholder="Color">
                            <input class="login_btn" type="submit" value="Add to gift-ee List">
                        </div>
                    <div class="gift-bottom", onclick="revealContent(0)"><i class="fas fa-plus"></i></div>
                </form>
                <div class="gift-item">
                    <p class="item-name">Item Name</p>
                    <div class="gift-top", onclick="revealContent(1)"></div>
                    <div class="item-content">
                        <p>Item Link</p>
                        <p>Item Color</p>
                        <p>Item Qty</p>
                        <p>Item Size</p>
                        <p><i class="fas fa-trash-alt"></i></p>
                    </div>
                    <div class="gift-bottom", onclick="revealContent(1)"><i class="fas fa-pencil-alt"></i></div>
                </div>
                <div class="gift-item">
                    <p class="item-name">Item Name</p>
                    <div class="gift-top", onclick="revealContent(2)"></div>
                    <div class="item-content">
                        <p>Item Link</p>
                        <p>Item Color</p>
                        <p>Item Qty</p>
                        <p>Item Size</p>
                        <p><i class="fas fa-trash-alt"></i></p>
                    </div>
                    <div class="gift-bottom", onclick="revealContent(2)"><i class="fas fa-pencil-alt"></i></div>
                </div>
            </div>
        </main>
	</body>

    <script>
        function revealContent(itemNum) {
            let itemContent = document.getElementsByClassName("item-content")[itemNum];
            console.log("got item number: " + itemNum);
            if(itemContent.style.display == "none") {
                itemContent.style.display = "flex";
            } else if(itemContent.style.display == "flex") {
                itemContent.style.display = "none";
            } else {
                itemContent.style.display = "flex";
            }
        }
    </script>
</html>
