{% extends "base.njk" %}

{% block metaStuff%}
	<title>Search</title>
	<link href="gift-ee.css" type="text/css" rel="stylesheet">
{% endblock %}

{% block main %}
	<h1>Search for user's profiles</h1>

	<input type="text" id="search" name="searchText" placeholder="Username">
	<div id="usernameList">

	</div>
{% endblock %}

{% block script %}
<script>
	var search = document.getElementById('search');
	var usernameListElem = document.getElementById("usernameList");
	var usernames = [];
	usernames[0] = ('{{usernames[0]}}');
	async function getUserNames(searchText) {
		var matches = usernames.filter(username => {
			const regex = new RegExp(`^${searchText}`,`gi`);
			console.log(username + " =? " + regex);
			return username.match(regex);
		});

		if(searchText.length == 0) {
			matches = [];
			usernameListElem.innerHTML = " ";
			return;
		}
		console.log(matches);
		outputHTML(matches);
	}

	const outputHTML = matches => {
		if(matches.length > 0) {
			var html = matches.map(match => 
				`
				<form action="search_results" method="POST">
					<input style="display: none;" type="text" id="username" name="username" value="${match}">
					<input type="submit" value="${match}">
				</form>
				`
				
				).join(" ");
			usernameList.innerHTML = html;
		} else {
			usernameList.innerHTML = "no users with that name";
		}
	}

	search.addEventListener('input', () => getUserNames(search.value));
</script>
{% endblock %}