{% extends "base.html" %}

{% block metaStuff%}
	<title>Search</title>
	<link href="gift-ee.css", type="text/css", rel="stylesheet">
{% endblock %}

{% block main %}
	<h1>Search for user's profiles</h1>

	<input type="text", id="search", name="searchText", placeholder="Username">
	<div id="usernameList">

	</div>
{% endblock %}

{% block script %}

	var search = document.getElementById('search');
	var usernameListElem = document.getElementById("usernameList");
	var usernames = [];
	usernames[0] = ('{{usernames[0]}}');
	async function getUserNames(searchText) {
		var matches = usernames.filter(username => {
			const regex = new RegExp(`^${searchText}`,`gi`);
			console.log(username + " =? " + regex);
			return username.match(regex);
		});

		if(searchText.length == 0) {
			matches = [];
			usernameListElem.innerHTML = " ";
		}
		console.log(matches);
		outputHTML(matches);
	}

	const outputHTML = matches => {
		if(matches.length > 0) {
		var html = matches.map(match => `<p>${match}</p>`).join(" ");
		}

		usernameList.innerHTML = html;
	}

	search.addEventListener('input', () => getUserNames(search.value));
{% endblock %}