<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>gift-ee</title>
		<link href="login_and_signup.css" rel="stylesheet">
		<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css">
		<link rel="stylesheet" type="text/html" href="//fonts.googleapis.com/css?family=Ubuntu">
	</head>
    <body>
		<main>
			<p class="home"><a href="/"><i class="fas fa-home"></i></a></p>
			<div class="user_input">
				<p>Signup to create a Gift-ee account!</p> 
				<form action="sign_up_status" method="POST">
					<fieldset>
							<div class="input_box">
								<i class="fas fa-envelope"></i>
								<input type="text" id="email" name="email" placeholder="Email">
                            </div>
							<div class="input_box">
								<i class="fas fa-user"></i>
								<input type="text" onblur="validUsername()" id="username" name="username" placeholder="Username">
							</div>                            
							<div class="input_box">
								<i class="fas fa-lock"></i>
								<input type="password" onblur="validPassword()" id="password" name="password" placeholder="Password">
                            </div>
                            <div class="input_box">
								<i class="fas fa-address-card"></i>
								<input type="text" id="first_name" onblur="validFirstName()" name="firstName" placeholder="First Name">
                            </div>
                            <div class="input_box">
								<i class="fas fa-address-card"></i>
								<input type="text" id="last_name" onblur="validLastName()" name="lastName" placeholder="Last Name">
                            </div>
							<input type="submit" id="sign_up_btn" disabled="true" onmouseover="validCredentials()" value="Sign Up">
					</fieldset>
                </form>
                <p id="error_message" style="display:none"></p>
			</div>
		</main>
	</body>
	<script>
        var successColor = "#5cd65c";
        var failureColor = "red";

        var valid_username = false;
        var usernameErrMsg = "";
        function validUsername() {
            let errorMessage = [];
            var badCharacters = ["/", "\\", "\'", "\"", " "];
            var username = document.getElementById("username").value;

            switch (0) {
                case 0:    // check username length
                    if (username.length < 1) {
                        errorMessage.push("Username must be of length 1 or more");
                    } else if (username.length > 30) {
                        errorMessage.push("Username must be of length less than 30");
                    }
                case 1:     // check for invalid characters
                    for(i = 0; i < username.length; i++) {
                        if (username.includes(badCharacters[i])) {
                            errorMessage.push("Invalid username, includes [" + badCharacters[i] + "] character");
                            break;
                        }
                    }
                    usernameErrMsg = errorMessage.join("\n");
                default: 
                    if(errorMessage.length == 0) {  // valid username
                        document.getElementsByClassName("input_box")[1].style.boxShadow = `0px 0px 0px 2px ${successColor}`;
                        valid_username = true;
                        usernameErrMsg = "";
                        displayErrMsg();
                    } else {    // invalid username
                        document.getElementsByClassName("input_box")[1].style.boxShadow = `0px 0px 0px 2px ${failureColor}`;
                        valid_username = false;
                        displayErrMsg();
                    }
            }
        }
        
        var valid_password = false;    // bool flag for the function below
        var passwordErrMsg = "";
        function validPassword() {
            let errorMessage = [];
            var badCharacters = ["/", "\\", "\'", "\"", " "];
            var password = document.getElementById("password").value;
            
            switch (0) {
                case 0:    // check password length
                    if (password.length <= 5) {
                        errorMessage.push("Password must be of length 6 or more");
                    } else if (password.length > 100) {
                        errorMessage.push("Password must be of length less than 100");
                    }
                case 1:     // check for invalid characters
                    for(i = 0; i < password.length; i++) {
                        if (password.includes(badCharacters[i])) {
                            errorMessage.push("invalid password, includes [" + badCharacters[i] + "] character");
                            break;
                        }
                    }
                case 2:     // check for at least one lowercase, uppercase, and number
                    var lowercaseFound = /(.*[a-z].*)/.test(password);
                    var uppercaseFound = /(.*[A-Z].*)/.test(password);
                    var numberFound = /(.*[0-9].*)/.test(password);
                    
                    if(!lowercaseFound) { errorMessage.push("Password must include at least one lowercase"); }
                    if(!uppercaseFound) { errorMessage.push("Password must include at least one uppercase"); }
                    if(!numberFound) { errorMessage.push("Password must include at least one number"); }

                    passwordErrMsg = errorMessage.join("\n");
                default: 
                    if(errorMessage.length == 0) {
                            document.getElementsByClassName("input_box")[2].style.boxShadow = `0px 0px 0px 2px ${successColor}`;
                            valid_password = true;
                            displayErrMsg();
                            // turn on the button here or return true for the other input fields
                    } else {
                        document.getElementsByClassName("input_box")[2].style.boxShadow = `0px 0px 0px 2px ${failureColor}`;
                        valid_password = false;
                        displayErrMsg();
                    }
            }
        }

        var valid_firstName = false;
        var firstNameErrMsg= "";
        function validFirstName() {
            let errorMessage = "";
            var firstName = document.getElementById("first_name").value;

            if(firstName != "") {
                valid_firstName = true;
                document.getElementsByClassName("input_box")[3].style.boxShadow = `0px 0px 0px 2px ${successColor}`;
                firstNameErrMsg = "";
                displayErrMsg();
            } else {
                errorMessage = "Please enter a first name";
                firstNameErrMsg = errorMessage;
                valid_firstName = false;
                document.getElementsByClassName("input_box")[3].style.boxShadow = `0px 0px 0px 2px ${failureColor}`;
                displayErrMsg();
            }
        }

        var valid_lastName = false;
        var lastNameErrMsg= "";
        function validLastName() {
            let errorMessage = "";
            var lastName = document.getElementById("last_name").value;
            if(lastName != "") {
                valid_lastName = true;
                document.getElementsByClassName("input_box")[4].style.boxShadow = `0px 0px 0px 2px ${successColor}`;
                lastNameErrMsg = "";
                displayErrMsg();
            } else {
                errorMessage = "Please enter a last name";
                lastNameErrMsg = errorMessage;
                valid_lastName = false;
                displayErrMsg();
                document.getElementsByClassName("input_box")[4].style.boxShadow = `0px 0px 0px 2px ${failureColor}`;
            }
        }

        function displayErrMsg() {
            let errorMessage = [""];
            if ((passwordErrMsg + firstNameErrMsg + lastNameErrMsg + usernameErrMsg) != "") {    // if there is an error, display it
                let errMsgNode = document.getElementById("error_message");
                errMsgNode.style.display = "";
                //errMsgNode.innerText = "\n" + usernameErrMsg + "\n" + passwordErrMsg + "\n" + firstNameErrMsg + "\n" + lastNameErrMsg + "\n";
                if(usernameErrMsg != "") { errorMessage.push(usernameErrMsg); }
                if(passwordErrMsg != "") { errorMessage.push(passwordErrMsg); }
                if(firstNameErrMsg != "") { errorMessage.push(firstNameErrMsg); }
                if(lastNameErrMsg != "") { errorMessage.push(lastNameErrMsg); }
                errMsgNode.innerText = errorMessage.join("\n");
            }
        }

        function validCredentials() {
            if(valid_username && valid_password && valid_firstName && valid_lastName) {
                document.getElementById("sign_up_btn").disabled = false;
                document.getElementById("sign_up_btn").style.backgroundColor = "rgba(0, 60, 255, 0.582)";
            } else {
                document.getElementById("sign_up_btn").disabled = true;
                document.getElementById("sign_up_btn").style.backgroundColor = "rgba(255, 0, 0, 0.726)";
                displayErrMsg();
                console.log("first name: " + valid_firstName + ", last name: " + valid_lastName + ", password: " + valid_password);
            }
        }

		function inputSize(x) {
			var input = document.getElementsByTagName("input");
			if (x.matches) { // less than or equal to the viewport
                for(i = 0; i < input.length; i++) {
                    input[i].size = 10;
                }
			} else {
                for(i = 0; i < input.length; i++) {
                    input[i].size = 35;
                }
			}
		}

		var x = window.matchMedia("(max-width: 700px)");
		inputSize(x) // Call listener function at run time
		x.addListener(inputSize) // Attach listener function on state changes 
	</script>
</html>