{% extends "base.html" %}

{% block metaStuff%}
	<title>Sign-Up</title>
{% endblock %}

{% block main %}
	<div class="user_input">
		<form class="signup_status" action="sign_up_status" method="POST">
			<fieldset>
				<legend>gift-ee</legend>
				<div>
					<label><input type="text", id="email", name="email", placeholder="Email"></label>
					<label><input type="text", id="username", name="username", placeholder="Username"></label>
					<label><input type="text", id="first_name", name="firstName", placeholder="First Name"></label>
					<label><input type="text", id="last_name", name="lastName", placeholder="Last Name"></label>
					<p id="password_error"></p>
					<label><input type="password", onblur="validPassword()", id="password", name="password" placeholder="Password"></label>
					<input class="sign_up_btn" type="submit" value="Sign Up">
				</div>
			</fieldset>
		</form>
	</div>
	
	<script>
		function validPassword() {
			var errorMessage = "";
			var passwordError = document.getElementById("password_error");
			var badCharacters = ["/", "\\", "\'", "\"", " "];
			var password = document.getElementById("password").value;
			
			// check for password length
			if(password.length <= 5) {
				console.log("password length: " + password.length + " too short!");
				errorMessage = "password length: " + password.length + " too short!";
			} else if (password.length > 100) { 
				console.log("password length: " + password.length + " too long!");
				errorMessage = "password length: " + password.length + " too long!";
			} else {
				console.log("password.length is acceptable!");
				errorMessage = "";
			}
			
			for(i = 0; i < password.length; i++) {
				if(password.includes(badCharacters[i])) {
					console.log("invalid password, includes [" + badCharacters[i] + "] character");
					errorMessage = errorMessage + "invalid password, includes [" + badCharacters[i] + "] character";
					break;
				}
			}
			
			passwordError.innerHTML = errorMessage;
		}
	</script>
{% endblock %}