{% extends "base.html" %}

{% block metaStuff%}
	<title>Sign-Up</title>
{% endblock %}

{% block main %}
	<h1>Sign-Up</h1>
	<div class="user_input">
		<form class="sign_up" action="sign_up_status" method="POST">
			<fieldset>
				<legend>Sign Up</legend>
				<div>
					<label><input type="text", id="email", placeholder="Email"></label>
					<label><input type="text", id="first_name", placeholder="First Name"></label>
					<label><input type="text", id="last_name", placeholder="Last Name"></label>
					<label><input type="text", id="password", placeholder="Password"></label>
					<input type="submit" value="Sign Up">
				</div>
			</fieldset>
		</form>
	</div>
{% endblock %}