<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>gift-ee</title>
		<link href="login_and_signup.css" rel="stylesheet">
		<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css">
		<link rel="stylesheet" type="text/html" href="//fonts.googleapis.com/css?family=Ubuntu">
	</head>
    <body>
		<main>
			<p class="home"><a href="/"><i class="fas fa-home"></i></a></p>
			<div class="user_input">
				<p>Signup to create a Gift-ee account!</p> 
				<form action="sign_up_status" method="POST">
					<fieldset>
							<div class="input_box">
								<i class="fas fa-envelope"></i>
								<input type="text" id="email" name="email" placeholder="Email">
                            </div>
							<div class="input_box">
								<i class="fas fa-user"></i>
								<input type="text" id="username" name="username" placeholder="Username">
							</div>                            
							<div class="input_box">
								<i class="fas fa-lock"></i>
								<input type="password" onblur="validPassword()" id="password" name="password" placeholder="Password">
                            </div>
                            <div class="input_box">
								<i class="fas fa-address-card"></i>
								<input type="text" id="first_name" onblur="validFirstName()" name="firstName" placeholder="First Name">
                            </div>
                            <div class="input_box">
								<i class="fas fa-address-card"></i>
								<input type="text" id="last_name" onblur="validLastName()" name="lastName" placeholder="Last Name">
                            </div>
							<input type="submit" id="sign_up_btn" disabled="true" onmouseover="validCredentials()" value="Sign Up">
					</fieldset>
                </form>
                <p id="error_message" style="display:none"></p>
                <p id="first_name_error", style="display:none"></p>
                <p id="last_name_error", style="display:none"></p>
                <p id="password_error", style="display:none"></p>
			</div>
		</main>
	</body>
	<script>
        var passwordField = document.getElementsByClassName("Sign_up_btn");
        
        var valid_password = "";    // bool flag for the function below
        var passwordErrMsg = "";
        function validPassword() {
            let errorMessage = "";
            var badCharacters = ["/", "\\", "\'", "\"", " "];
            var password = document.getElementById("password").value;
            
            switch (0) {
                case 0:    // check password length
                    if (password.length <= 5) {
                        errorMessage = "\nPassword must be of length 6 or more\n";
                    } else if (password.length > 100) {
                        errorMessage = "\nPassword must be of length less than 100\n";
                    }
                case 1:     // check for invalid characters
                    for(i = 0; i < password.length; i++) {
                        if (password.includes(badCharacters[i])) {
                            errorMessage = errorMessage + "\ninvalid password, includes [" + badCharacters[i] + "] character\n";
                            break;
                        }
                    }
                case 2:     // check for at least one lowercase, uppercase, and number
                    var lowercaseFound = /(.*[a-z].*)/.test(password);
                    var uppercaseFound = /(.*[A-Z].*)/.test(password);
                    var numberFound = /(.*[0-9].*)/.test(password);
                    
                    if(!lowercaseFound) {
                        errorMessage = errorMessage + "Password must include at least one lowercase\n";
                    }
                    if(!uppercaseFound) {
                        errorMessage = errorMessage + "Password must include at least one uppercase\n";
                    }
                    if(!numberFound) {
                        errorMessage = errorMessage + "Password must include at least one number\n";
                    }

                    passwordErrMsg = errorMessage;

                default: 
                    if(errorMessage.length == 0) {
                            document.getElementsByClassName("input_box")[2].style.boxShadow = "0px 0px 0px 2px lightgray";
                            valid_password = true;
                            // turn on the button here or return true for the other input fields
                    } else {
                        let errMsgNode = document.getElementById("error_message");
                        errMsgNode.style.display = "";
                        document.getElementsByClassName("input_box")[2].style.boxShadow = "0px 0px 0px 2px red";
                        valid_password = false;
                        displayErrMsg();
                    }
            }
        }

        var valid_firstName = "";
        var firstNameErrMsg= "";
        function validFirstName() {
            let errorMessage = "";
            var firstName = document.getElementById("first_name").value;

            if(firstName != "") {
                valid_firstName = true;
                document.getElementsByClassName("input_box")[3].style.boxShadow = "0px 0px 0px 2px lightgray";
            } else {
                errorMessage = "\nPlease enter a first name\n";
                firstNameErrMsg = errorMessage;
                valid_firstName = false;
                let errMsgNode = document.getElementById("error_message");
                errMsgNode.style.display = "";
                document.getElementsByClassName("input_box")[3].style.boxShadow = "0px 0px 0px 2px red";
                displayErrMsg();
            }
        }

        var valid_lastName = "";
        var lastNameErrMsg= "";
        function validLastName() {
            let errorMessage = "";
            var lastName = document.getElementById("last_name").value;
            if(lastName != "") {
                valid_lastName = true;
                document.getElementsByClassName("input_box")[4].style.boxShadow = "0px 0px 0px 2px lightgray";
            } else {
                errorMessage = "\nPlease enter a last name\n";
                lastNameErrMsg = errorMessage;
                valid_lastName = false;
                let errMsgNode = document.getElementById("error_message");
                errMsgNode.style.display = "";
                displayErrMsg();
                document.getElementsByClassName("input_box")[4].style.boxShadow = "0px 0px 0px 2px red";
            }
        }

        function displayErrMsg() {
            let errNode = document.getElementById("error_message");
            errNode.innerText = passwordErrMsg + "\n" + firstNameErrMsg + "\n" + lastNameErrMsg;
        }

        var submitButton = document.getElementById("Sign_up_btn");
        submitButton.addEventListener(inputType, validCredentials);
        function validCredentials() {
            // functions are called in the case of auto filled fields which would not trigger these functions otherwise
            validPassword();
            validFirstName();
            validLastName();

            if(valid_password && valid_firstName && valid_lastName) {
                document.getElementById("sign_up_btn").disabled = false;
                document.getElementById("sign_up_btn").style.backgroundColor = "rgba(0, 60, 255, 0.582)";
            } else {
                document.getElementById("sign_up_btn").disabled = true;
                document.getElementById("sign_up_btn").style.backgroundColor = "rgba(255, 0, 0, 0.726)";
                console.log("first name: " + valid_firstName + ", last name: " + valid_lastName + ", password: " + valid_password);
            }
        }

		function inputSize(x) {
			var input = document.getElementsByTagName("input");
			if (x.matches) { // less than or equal to the viewport
                for(i = 0; i < input.length; i++) {
                    input[i].size = 10;
                }
			} else {
                for(i = 0; i < input.length; i++) {
                    input[i].size = 35;
                }
			}
		}

		var x = window.matchMedia("(max-width: 700px)");
		inputSize(x) // Call listener function at run time
		x.addListener(inputSize) // Attach listener function on state changes 
	</script>
</html>